<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Submit</title>
</head>
<body>
   <h1>Your Details</h1>
   <% data.forEach(row => { %>
       <h3>Name: <%= row.name %></h3>
       <h3>Gender: <%= row.gender %></h3>
       <h3>Email: <%= row.email %></h3>
       <h3>Password: <%= row.password %></h3>
   <% }) %>
</body>
</html>